body {
    padding-top: 15rem;
    padding-left: 15rem;
    background-color: beige;
}

h1 {
    font-size: 50px;
    font-family:    system-ui;
}

p {
    font-family:    system-ui;
    padding-left: 20px;
}

a {
    margin-top: 20px;
    font-size: 50px;
    padding: 20px;
}